{{> layout/header}}

<style>
    .list-group-item {
        cursor: pointer; /* 마우스를 가져다대면 손가락 모양으로 변경 */
        transition: background-color 0.3s, color 0.3s; /* 색깔 변화 애니메이션 */
    }

    .list-group-item:hover {
        background-color: #E9E3EF; /* 마우스를 가져다댔을 때 배경색 */
        color: black; /* 마우스를 가져다댔을 때 글자색 */
    }

    .option-container {
        position: relative;
        /* 필요한 경우 추가 스타일 */
    }

    #selectedOptions {
        display: none;
        position: absolute;
        top: 170px;
        right: 0px;
        width: 300px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
    }

    .selected-item {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .saveImg {
        width: 100%; /* 원하는 너비로 설정 */
        height: 100%; /* 원하는 높이로 설정 */
        overflow: hidden; /* 이미지가 요소를 벗어나지 않도록 숨김 */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
        margin-right: 5%;
    }

    .saveImg img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* 이미지 비율을 유지하면서 요소 크기에 맞게 조정 */
    }


</style>

<div class="container w14 sub-page" style="margin: 0 auto;">

    <!--상품 상세보기 페이지 시작-->
{{#sessionUser}}
    {{#isCheck}}
            <!--개인 로그인시-->

                <input type="hidden" name="productId" value="{{product.id}}">
                <input type="hidden" name="status" value="0">
                <div class="d-flex prodsav-W">
                    <!--상품 이미지-->
                    <div class="prodsave-L">
                        <div class="p-3 m-3 swiper-container">
                            <div class="swiper-wrapper">
                                {{#product.images}}
                                    <div class="d-flex justify-content-center align-items-center saveImg swiper-slide" id="profilePreview">
                                        <!-- 이미지를 표시하는 부분 업데이트로 가서 수정한다 -->
                                        <img src="/upload/{{img}}" style="max-width: 100%; max-height: 100%;">
                                    </div>
                                {{/product.images}}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <!--상품 이미지-->

                    <!--구매정보 체크-->
                    <div class="prodsave-R ml-10">
                        <!--상품 table-->
                        <table class="prod-info">
                            <!--상품명-->
                            <tr>
                                <th>상품명</th>
                                <td>
                                    <input id="name" name="name" type="text" class="form-control"
                                           value="{{product.name}}" disabled style="width: 100%">
                                </td>
                            </tr>
                            <!--상품명-->

                            <!--상품가격-->
                            <tr>
                                <th>상품가격</th>
                                <td colspan="2">
                                    <input name="price" id="allTotal" type="text" class="form-control price price-class"
                                           value="0" disabled style="width: 100%">
                                </td>
                            </tr>
                            <!--상품가격-->

                        </table>
                        <!--상품 table-->

                        <div class="stock-info" style="margin-left: 120px; color: gray">
                            #<span class="product-qty">{{product.categoryName}}</span>
                        </div>

                        <!--장바구니 btn-->
                        <div class="row pr-5 pt-5" style="">
                            <button class="btn btn-mint" onclick="checkList()" type="submit" height="36" radius="3">
                                <span class="">장바구니 담기</span>
                            </button>
                        </div>
                        <!--장바구니 btn-->

                    </div>
                    <!--구매정보 체크-->

                    <!--    옵션 선택 -->
                    <div class="option-container">
                        <ul class="list-group"
                            style="margin-left: 50px; width: 300px; margin-top: -140px; border-radius: 10px">
                            <b>옵션선택</b>
                            <li class="list-group-item flip" style="background-color: #2BB457; color: white">상품명 ▼</li>
                            {{#optionList}}
                                <li class="list-group-item panel" id="options{{id}}">
                                    {{optionName}} <span class="options{{id}}price-class"
                                                         data-price="{{price}}">({{price}})</span>
                                </li>
                            {{/optionList}}
                        </ul>

                        <div id="selectedOptions"></div>

                    </div>
                    <!--    옵션 선택 -->

                </div>

                <!-- 선택한 옵션이 표시될 곳 -->

    {{/isCheck}}
        <!--개인 로그인시-->

    {{^isCheck}}
            <!--판매자 로그인시-->
            <div class="d-flex prodsav-W">
                <!--상품 이미지-->
                <div class="prodsave-L">
                    <div class="p-3 m-3 swiper-container">
                        <div class="swiper-wrapper">
                            {{#product.images}}
                            <div class="d-flex justify-content-center align-items-center saveImg swiper-slide" id="profilePreview">
                                <!-- 이미지를 표시하는 부분 업데이트로 가서 수정한다 -->
                                <img src="/upload/{{img}}" style="max-width: 100%; max-height: 100%;">
                            </div>
                            {{/product.images}}
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <!--상품 이미지-->



                <!--상품 수정-->
                <div class="prodsave-R ml-10">
                    <div class="d-flex mb-3 mt-3 row">
                        <table class="prod-info">
                            <!--상품명-->
                            <tr>
                                <th>상품명</th>
                                <td>
                                    <input id="name" name="name" type="text" class="form-control"
                                           value="{{product.name}}" disabled
                                           style="width: 98%">
                                </td>
                            </tr>
                            <!--상품명-->

                            <!--상품가격-->
                            <tr>
                                <th>상품가격</th>
                                <td colspan="2">
                                    <input name="price" type="text" class="form-control price price-class"
                                           value="{{product.price}}" disabled
                                           style="width: 100%">
                                </td>
                            </tr>
                            <!--상품가격-->

                            <!--상품수량-->
                            <tr>
                                <th>상품수량</th>
                                <td colspan="2">
                                    <input name="qty" type="number" class="form-control col ml-5"
                                           value="qty" disabled>
                                </td>
                            </tr>
                            <!--상품수량-->

                            <tr>
                                <th>종류</th>
                                <td colspan="2">
                                    <input name="" type="text" class="form-control price price-class"
                                           value="{{product.categoryName}}" disabled style="width: 100%">
                                </td>
                            </tr>

                        </table>

                        <div class="line" style="border-bottom:1px solid #ddd; margin: 50px auto"></div>

                        <!--수정,삭제 버튼부분-->
                        <div class="d-flex" style="justify-content: flex-end">
                            <span><a href="/product/{{product.id}}/update-form" class="btn btn-mint">수정하기</a></span>
                            <span class="ml-20">
                                <form action="/product/{{product.id}}/delete" method="post">
                                    <button class="btn btn-mint">삭제하기</button>
	                            </form>
                            </span>
                        </div>
                        <!--수정,삭제 버튼부분-->

                    </div>
                </div>
            </div>
        </div>
    {{/isCheck}}
{{/sessionUser}}
<!--판매자 로그인시-->

{{^sessionUser}}
    <!--비회원 로그인시 -->
    <form action="/order/1/add" method="post">
        <div class="d-flex prodsav-W">
            <!--상품 이미지-->
            <div class="prodsave-L">
                <div class="p-3 m-3 swiper-container">
                    <div class="swiper-wrapper">
                        {{#product.images}}
                            <div class="d-flex justify-content-center align-items-center saveImg swiper-slide" id="profilePreview">
                                <!-- 이미지를 표시하는 부분 업데이트로 가서 수정한다 -->
                                <img src="/upload/{{img}}" style="max-width: 100%; max-height: 100%;">
                            </div>
                        {{/product.images}}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <!--상품 이미지-->

            <!--구매정보 체크-->
            <div class="prodsave-R ml-10">
                <!--상품 table-->
                <table class="prod-info">
                    <!--상품명-->
                    <tr>
                        <th>상품명</th>
                        <td>
                            <input id="name" name="name" type="text" class="form-control"
                                   value="{{product.name}}" disabled style="width: 100%">
                        </td>
                    </tr>
                    <!--상품명-->

                    <!--상품가격-->
                    <tr>
                        <th>상품가격</th>
                        <td colspan="2">
                            <input name="price" type="text" class="form-control price price-class"
                                   value="{{product.price}}" disabled style="width: 100%">
                        </td>
                    </tr>
                    <!--상품가격-->

                    <!--상품수량-->
                    <tr>
                        <th>상품수량</th>
                        <td colspan="2">
                            <!-- 상품의 구매 수량만큼 표시됩니다 value 명에 변수 값만 넣어주세요-->
                            <div class="quantity-controls d-flex"
                                 style="width: 100px; text-align: center; ">
                                <button type="button" class="decrease-btn" aria-label="수량내리기" style="">-
                                </button>
                                <input type="text" class="quantity" name="orderQty" value="1"
                                       style="text-align: center; ">
                                <button type="button" class="increase-btn" aria-label="수량올리기">+</button>
                            </div>
                        </td>
                    </tr>
                    <!--상품수량-->
                </table>
                <!--상품 table-->

                <div class="stock-info" style="margin-left: 120px; color: gray">
                    #<span class="product-qty">{{product.categoryName}}</span>
                </div>

                <!--장바구니 btn-->
                <div class="row pr-5 pt-5" style="">
                    <button class="btn btn-mint" onclick="checkList()" type="submit" height="36" radius="3">
                        <span class="">장바구니 담기</span>
                    </button>
                </div>
                <!--장바구니 btn-->

            </div>
            <!--구매정보 체크-->

            <!--    옵션 선택 -->
            <div class="option-container">
                <ul class="list-group"
                    style="margin-left: 50px; width: 300px; margin-top: -140px; border-radius: 10px">
                    <b>옵션선택</b>
                    <li class="list-group-item flip" style="background-color: #2BB457; color: white">상품명 ▼</li>
                    {{#optionList}}
                        <li class="list-group-item panel" id="options{{id}}">
                            {{optionName}} <span class="options{{id}}price-class"
                                                 data-price="{{price}}">({{price}})</span>
                        </li>
                    {{/optionList}}
                </ul>

                <div id="selectedOptions"></div>

            </div>
            <!--    옵션 선택 -->
            </div>
            <!--구매정보 체크-->
    </form>
{{/sessionUser}}
<!--비회원 로그인시-->

</div>
<!--상품 상세보기 페이지 완료-->

<!--지우면 구매수량 안올라 갑니다. 구매 수량만 올리는 이벤트일뿐 변수 값 해당 머스태치에 뿌려야 됩니다.-->

<script src="/static/js/swiper.min.js"></script>

<script>

    <!--    천단위 표시 재사용 해야할 함수 -->
    function numberWithCommas(num) {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    $(".price-class").each(function () {
        let price = $(this).val();
        console.log(price);
        $(this).val(numberWithCommas(price));
    });



    //옵션 slideToggle 이벤트
    $(".flip").click(function () {
        $(".panel").each(function () {
            $(this).slideToggle("fast", function () {
                if ($(this).is(":visible")) {
                    $("#selectedOptions").css("top", "150px");
                } else {
                    if ($(".panel:visible").length === 0) {
                        $("#selectedOptions").css("top", "0px");
                    }
                }
            });
        });
    });


    $(document).on('click', '.increase-btn', function () {
        var $quantityInput = $(this).siblings(".quantity");
        var currentQuantity = parseInt($quantityInput.val());
        $quantityInput.val(currentQuantity + 1);
    });

    // 수량 감소 버튼 클릭 이벤트
    $(document).on('click', '.decrease-btn', function () {
        var $quantityInput = $(this).siblings(".quantity");
        var currentQuantity = parseInt($quantityInput.val());
        if (currentQuantity > 1) {
            $quantityInput.val(currentQuantity - 1);
        }
    });

    // 재고 수량 계산하여 표시
    var productQty = parseInt("product.qty");
    var orderQty = parseInt($(".quantity").val());
    var remainingQty = productQty - orderQty;
    $(".remaining-qty").text("재고 수량: " + remainingQty);

    // 슬라이드용
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
    //
    // var swiper = new Swiper('.swiper-container', {
    //     spaceBetween: 30,
    //     slidesPerView: 'auto',
    //     pagination: {
    //         el: '.swiper-pagination',
    //         clickable: true,
    //     },
    // });
</script>



<script src="/js/detail.js"></script>

{{> layout/footer}}