{{> layout/header}}

<div class="container sub-page w14" style="margin: 0 auto;">
    <form id="saveForm" method="post" enctype="multipart/form-data">

        <div class="d-flex prodsav-W">
            <!--상품 이미지 등록-->
            <div class="prodsave-L">
                <div class="p-3 m-3">
                    <div class="row">
                        <div class="save-img d-flex justify-content-center align-items-center profilePreview"
                             style=""
                             id="profilePreview">
                            <b>대표 사진을 등록해 주세요.</b>
                        </div>
                        <div class="save-img d-flex justify-content-center align-items-center profilePreview"
                             style="width: 130px; height: 100px; margin-right: 5px; margin-top: 5px"
                             id="profilePreview">
                            <b>사진 등록</b>
                        </div>
                        <div class="save-img d-flex justify-content-center align-items-center profilePreview"
                             style="width: 130px; height: 100px; margin-right: 5px; margin-top: 5px"
                             id="profilePreview">
                            <b>사진 등록</b>
                        </div>
                        <div class="save-img d-flex justify-content-center align-items-center profilePreview"
                             style="width: 130px; height: 100px; margin-right: 5px; margin-top: 5px"
                             id="profilePreview">
                            <b>사진 등록</b>
                        </div>
                        <input type="file" id="imageUpload" name="img"
                               class="real-upload mx-auto d-block mt-2 w-50 h-50" accept="upload/*" required
                               multiple>
                        <span style="font-size:20px; color: gray;">※첨부파일은 최대 4개까지 등록이 가능합니다.</span>
                    </div>
                </div>
            </div>
            <!--상품 이미지 등록-->

            <!--상품등록-->
            <div class="prodsave-R ml-10">
                <div class="d-flex mb-3 mt-3 row">
                    <table class="prod-info">
                        <!--상품명-->
                        <tr>
                            <th>상품명</th>
                            <td>
                                <input id="pName" name="name" type="text" class="form-control"
                                       placeholder="상품명을 적어주세요." style="width: 100%">
                            </td>
                            <td>
<!--                                <button type="button" onclick=""-->
<!--                                        class="btn btn-outline-mint ml-10">상품중복체크</button>-->
                            </td>
                        </tr>
                        <!--상품명-->

                        <!--상품가격-->
                        <tr>
                            <th>상품가격</th>
                            <td colspan="2">
                                <input name="price" id="pPrice" type="text" class="form-control price price-class"
                                       placeholder="상품 가격을 적어주세요." style="width: 100%">
                            </td>
                        </tr>
                        <!--상품가격-->

                        <!--상품수량-->
                        <tr>
                            <th>상품수량</th>
                            <td colspan="2">
                                <div class="quantity-controls d-flex"
                                     style="width: 100px;">
                                    <button type="button" class="decrease-btn" aria-label="수량내리기">-</button>
                                    <input type="number" class="quantity" name="qty" id="pQty" value="1"
                                           style="text-align: center;">
                                    <button type="button" class="increase-btn" aria-label="수량올리기">+</button>
                                </div>
                            </td>
                        </tr>
                        <!--상품수량-->

                        <tr>
                            <th>종류</th>
                            <td colspan="2">
                                <select class="" name="categoryId" id="category">
                                    {{#categoryList}}
                                    <option value="{{id}}">{{categoryName}}</option>
                                    {{/categoryList}}
                                </select>
                            </td>
                        </tr>

                    </table>

                    <div class="line" style="border-bottom:1px solid #ddd; margin: 50px auto"></div>
                    <button type="submit" class="btn btn-mint">상품등록완료</button>

                </div>
            </div>
        </div>

    </form>
</div>

<script>

        $("#saveForm").on("submit", function (e) {
            e.preventDefault();

            let formData = new FormData();

            let nameForm = $(this).find("#pName").val();
            // console.log("nameForm " + nameForm);

            // 이렇게하면 자꾸 문자로 가져와져서... 바꾸겠다
            // let priceForm = $(this).find("#pPrice").val();
            let priceForm = parseInt($(this).find("#pPrice").val().replace(/,/g, ""));
            // console.log("priceForm " + priceForm);

            let qtyForm = $(this).find("#pQty").val();
            // console.log("qtyForm " + qtyForm);

            let categoryForm = $(this).find("#category").val();
            // console.log("categoryForm " + categoryForm);

            let check = $(this).find("#imageUpload");
            let files = check[0].files;
            // console.log("check " + check);
            // console.log("files " + files);

            formData.append('name', nameForm);
            formData.append('price', priceForm);
            formData.append('qty', qtyForm);
            formData.append('categoryId', categoryForm);

            for (let i = 0; i < files.length; i++) {
                formData.append('img', files[i]);
            }

            // console.log("배열인가" + formData);

            // formData의 내부를 확인할 땐 console.log 로는 불가능! 이걸 해야함
            // formData.forEach((value, key) => {
            //     if (value instanceof File) {
            //         console.log(`${key}: ${value.name}, ${value.size} bytes, ${value.type}`);
            //     } else {
            //         console.log(`${key}: ${value}`);
            //     }
            // });

            $.ajax({
                url: "/product/save",
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST'

            }).done((res)=>{
                alert("업로드 성공");
                window.location.href = "/";

            }).fail((res)=>{
                alert("이미지 업로드 실패")

            });

        });



    function previewImages() {
        let imgUpload = $("#imageUpload")[0];
        let previewContainer = $(".profilePreview");
        if (imgUpload.files) {
            let files = imgUpload.files;
            let maxFiles = 4;
            previewContainer.empty(); // 미리보기 컨테이너를 비웁니다.

            for (let i = 0; i < files.length && i < maxFiles; i++) {
                let file = files[i];
                let reader = new FileReader();

                reader.onload = function(e) {
                    // console.log("여기에 이벤트 " + e.target.result);
                    // 이미지 미리보기를 생성합니다.
                    let imgPreview = $('<div class="save-img d-flex justify-content-center align-items-center" style="width: 130px; height: 100px; margin-right: 5px; margin-top: 5px">' +
                            '<img src="' + e.target.result + '" style="width: 100%; height: 100%; object-fit: cover;"></div>');
                    previewContainer.eq(i).html(imgPreview); // 새 미리보기를 추가합니다.
                };

                reader.readAsDataURL(file);
            }
        }
    }

    $("#imageUpload").change(function() {
        previewImages(); // 파일이 변경될 때마다 미리보기를 업데이트합니다.
    });





    <!--    천단위 표시 재사용 해야할 함수 -->
    function numberWithCommas(num) {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    //금액을 수정할때 실시간으로 콤마 찍기
    $(".price-class").on("input", function () {
        let price = $(this).val().replace(/,/g, "");
        $(this).val(numberWithCommas(price));

    });

    //폼 제출할땐 text가 아니라 int 로 인식 되어야함
    $('form').submit(function(e){
        $(".price-class").each(function(){
            var price = $(this).val();
            // 쉼표 제거
            price = price.replace(/,/g, "");
            // 쉼표가 제거된 값을 필드에 다시 설정
            $(this).val(price);
        });
    });

</script>

{{> layout/footer}}