{{> layout/header}}

<style>
    .panel {
        display: none;
    }

    .panel-title {
        display: none;
    }
</style>

<div class="container pt-5" style="text-align: center">
    <br>
    <br><br><br><br>
    <div class="row">
        <!--주문 테이블-->
        <div>
            <table class="table table-striped" style="vertical-align: middle">
                <tr>
                    <th>주문번호</th>
                    <th>상품명</th>
                    <th>결제금액</th>
                    <th>주문날짜</th>
                    <th>주문상태</th>
                    <th>선택하기</th>
                </tr>

                {{#orderItemList}}
                    <tr class="flip" data-order-id="{{orderId}}">
                        <td>{{orderNumb}}</td>
                        <td>
                            {{pName}}
                        </td>
                        <td>
                            {{sum}}
                        </td>

                        <td>
                            {{createdAt}}
                        </td>
                        <td>
                            {{status}}
                        </td>
                        <td>
                            <input class="form-check-input product-checkbox item-check" type="checkbox"
                                   name="itemCheck orderId"
                                   id="itemCheck-id" value="{{sum}}"
                                   data-order-id="{{orderId}}" data-product-id="{{productId}}"
                                   data-order-qty="{{orderQty}}"
                                   style="width:20px !important; margin: 0 auto">
                        </td>
                    </tr>
                {{/orderItemList}}


                <!--   슬라이드 쇼 용 -->
                {{#orderItemListV2}}
                    <tr class="panel" data-order-id="{{orderId}}">
                        <td>
                            <div style="width:150px; margin:0 auto;">
                                <img src="/upload/{{img}}" alt="Product Image"
                                     style="max-width: 100%; max-height: 100%;">
                            </div>
                        </td>

                        <td>{{pName}}</td>
                        <td>{{price}}</td>
                        <td>{{orderQty}}</td>
                        <td>{{sum}}</td>
                        <td>결제완료</td>

                    </tr>
                {{/orderItemListV2}}


                <tr class="panel-title">
                    <th></th>
                    <th>상품명</th>
                    <th>상품금액</th>
                    <th>주문수량</th>
                    <th>합계</th>
                    <th>주문상태</th>
                </tr>


            </table>

            <button type="button" class="btn btn-mint" onclick="order()" id="purchaseButton" style="width:300px">주문취소
            </button>

        </div>
        <!--주문 테이블-->
    </div>
</div>

<script>

    //슬라이드 쇼
    $(".flip").click(function () {
        // alert("ㄱㄱ");
        var orderId = $(this).data("order-id");
        // 모든 .panel 요소를 숨김
        // $(".panel").slideUp("fast");

        // 동일한 data-order-id를 가진 .panel만 토글
        setTimeout(() => {
            $(".panel").each(function () {
                if ($(this).data("order-id") == orderId) {
                    $(this).slideToggle("fast");
                }
            });
        }, 200); // slideUp 애니메이션이 완료될 시간을 고려하여 적당한 딜레이를 설정
    });


    // 값 받기
    let requestBody = [];

    function order() {
        $(".item-check:checked").each(function () {
            let orderId = $(this).data("order-id");
            let productId = $(this).data("product-id");
            let orderQty = $(this).data("order-qty");
            // console.log(orderItemId);

            let checkedOrder = {
                orderId: orderId,
                productId: productId,
                orderQty: orderQty

            };    //객체 형식으로 만들어주기

            requestBody.push(checkedOrder); // orderId를 객체로 추가
        });

        console.log(requestBody);
        console.log(JSON.stringify(requestBody));


        $.ajax({
            url: '/order/cancel',
            data: JSON.stringify(requestBody),
            contentType: 'application/json; charset=utf-8',
            type: 'POST'

        }).done((res) => {
            alert("취소가 완료되었습니다!");
            location.href = "/order-list"

        }).fail((res) => {
            alert("통신 오류")
        });

    }

</script>

{{> layout/footer}}